.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    float: center;
}

.down {
    transform: rotate(45deg);
    -webkit-tranform: rotate(45deg);
    float: centre;
}

.top {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    float: center;
    justify-content: center;
}

.top::before {
    content: "";
    background-image: url("/images/vic7.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}