.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    float: center;
}

.down {
    transform: rotate(45deg);
    -webkit-tranform: rotate(45deg);
    float: centre;
}

.top {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    float: center;
    justify-content: center;
}

.top::before {
    content: "";
    background-image: url("/images/vic7.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.65;
}

.about {
    display: table;
    vertical-align: right;
    display: table-cell;
    border-left: 6px solid black;
    height: 200px;
    left: 40%;
    margin-left: 1000 px;
    top: 0;
    background-color: black;
    color: #548146;
}


/*
img {
    vertical-align: middle;
    display: table-cell;
    height: 350px;
    width: 380px;
}
*/

span {
    vertical-align: middle;
    height: 50px;
    display: table-cell;
}

.con {
    align-content: left;
    text-align: left;
}

.p {
    float: center;
}

hr {
    border: none;
    border-top: 1px dashed #f00;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 50%;
}

.bar {
    list-style: none;
}

.bar>li {
    position: relative;
}

.bar>li:before {
    content: '\25CF';
    margin-right: 10px;
    font-size: 20px;
}

.bar>li:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    border-left: 2px solid black;
    margin-left: 5px;
    height: 100%;
}

.bar>li:first-of-type:after {
    top: 50%;
}

.bar>li:last-of-type:after {
    top: -50%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* Float four columns side by side */

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}


/* Remove extra left and right margins, due to padding in columns */

.row {
    margin: 0 -5px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #a5f58c;
}


/* Responsive columns - one column layout (vertical) on small screens */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}